

@model IEnumerable<SchoolManagementSystem.Models.TeachingStaffDetail>

@{
    ViewData["Title"] = "TeachingStaffDetail";
}

<div class="col-6">
    <h2 class="text-primary">TeachingStaffDetail</h2>
</div>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h4>TeachingStaffDetail List</h4>
        </div>
                <div class="container">
  <div class="btn-group">
    </h3><button type="button" class="nav-link text-dark btn-primary font-weight-bold" style="margin: 1px; background-color: #00b9ff;float: initial" asp-area="" asp-controller="TeachingStaffDetail" asp- asp-action="Get">TeachingStaffDetail</button></h3>
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
     <a class="nav-link text-dark btn-primary font-weight-bold" style="background-color: #FFFFFF;float: left" asp-area="" asp-controller="StudentDetails" asp- asp-action="Get">StudentDetails</a>
      <a class="nav-link text-dark btn-primary font-weight-bold" style="background-color: #FFFFFF;float: left" asp-area="" asp-controller="ClassRoom" asp- asp-action="Get"> ClassRoom</a>
      <a class="nav-link text-dark btn-primary font-weight-bold" style="background-color: #FFFFFF;float: left" asp-area="" asp-controller="StaffClassification" asp- asp-action="Get"> StaffClassification</a>

 </ul>
  </div>
        <div class="col-12">
            <a class="nav-link text-dark btn-primary font-weight-bold" style="margin: 10px; 
                    background-color: #00b9ff;float: right" asp-area="" asp-controller="TeachingStaffDetail"  asp-action="Create">Register</a>
        </div>
    </div>
    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        TeacherName
                    </th>
                    <th>
                        TeacherId
                    </th>
                    <th>
                        Qualification
                    </th>
                    <th>
                        StaffTypeId
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model)
                {
                    <tr>
                        <td width="10%">@obj.TeacherName</td>
                        <td width="30%">@obj.TeacherId</td>
                        <td width="20%">@obj.Qualification</td>
                        <td width="20%">@obj.StaffTypeId</td>
                        <td class ="text-center">
                            <div class="w-75 btn-group" role="group">
                            <a asp-controller="TeachingStaffDetail" asp-route-Id="@obj.TeacherId" asp-action="Update" class="btn btn-primary mx-1">
                                <i class="fas fa-edit"></i> Update
                            </a>
                            <a asp-controller="TeachingStaffDetail" asp-route-Id="@obj.TeacherId" asp-action="Delete" class="btn btn-danger mx-3">
                                <i class="far fa-trash-alt"></i> Delete
                            </a>
                        </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>






